p{
    text-align: center;
    margin-top: 100px;
    font-size: larger;
    font-weight: bolder;
    
    
   
}

picture{
   border: 2px;
}
#about{
    background-color: black;
}
h2{
    color: white;
}