<!-- <p data-aos="slide-down">samples works!</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->
<section id="about">
    <div class="container">
        <br>
        <h2><strong>My works</strong></h2>
        <br>
        <br>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="4000">
                <picture>
                    <img src="assets/kerala.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <a href="https://thushara051989.github.io/Kerala-Tourism-a-project-by-Thushara-Chandran/">Kerala Tourism website</a>
            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-right" ata-aos-easing="linear" data-aos-duration="4000">
                <picture>
                    <img src="assets/todo.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <a href="https://thushara051989.github.io/TODO/">To-do list App</a>
            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-left" ata-aos-easing="linear" data-aos-duration="4000">
                <picture>
                    <img src="assets/pust.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <a href="https://errorhunt-thushara.herokuapp.com/">Pusthakam:The Library app</a>
            </div>
            </div>
         
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
</section>