<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
        <a class="nav-link"  routerLink="/"   routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/about" style="cursor:pointer" >About</a>
        <a class="nav-link" routerLink="/samples" style="cursor:pointer" >Saanples</a>
        <a class="nav-link" routerLink="/contact" style="cursor:pointer" >Contact</a>
   
        </ul>
      </div>
    </nav>   -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
           
            aria-controls="navbarCenteredExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <a class="navbar-brand" href="#">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5603AQGhH140E2sgJw/profile-displayphoto-shrink_200_200/0/1645688481965?e=1659571200&v=beta&t=7b1CmoGFRZosKV0Ok-BEuMF4RRnf90qpzcf3PxiYWpQ"
              class="me-2"
              height="50"
              alt=""
              loading="lazy"
            />
            <small id="t">THUSHARA CHANDRAN</small>
          </a>

          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarCenteredExample"
           
          >
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="samples">Samples</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
              </li>
             
             
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
