<footer class="footer">
    <p> Copyright © 2022- By Thushara Chandran.</p>
    <p>Follow me on</p>
    <a href="https://www.facebook.com/thushara.chandran.50/" class="fab fa-facebook" ></a>
  <a href="https://twitter.com/Thushara_C" class="fab fa-twitter"></a>
  <a href="https://www.instagram.com/its_me_thush/" class="fab fa-instagram"></a>
  <a href="https://wa.me/qr/P22KDRSF3NDYI1" class="fab fa-whatsapp"></a>
  <a href="thushchand5@gmail.com " class="fab fa-mail"></a>
  
    
    
  </footer>
