<!-- <p data-aos="slide-down" >about works!</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->

<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/thush1.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Retail Banker passionate about Business Analysis & Full Stack Development</h3>
                <p class="font-italic">
                    By profession I am an Assistant Manager working in a Public Sector Bank. An engineer graduate who wants to explore new areas and now passionately learning Business Analysis and Full Stack development.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Kerala</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Vadakara,Kozhikode</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:thushchand5@gmail.com">
                                        thushchand5@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 32 years</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> M.Tech</strong>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.
                </p>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>