<section id="home" [ngStyle]="{backgroundImage:'url(assets/img.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1 id="hi" @fade data-aos="slide-left" > Hi All  !!!</h1>
        <h1 @fade data-aos="slide-right"  class="mt-3"> I'm THUSHARA CHANDRAN</h1>
        <p @fade data-aos="slide-left" >Banker / Business Analyst / Full Stack Developer <span class="typed"></span></p>
    </div>
</section>
<section id="myservice"[ngStyle]="{backgroundImage:'url(assets/coding.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <span class="bar-title mb-5"></span>
        <h2 data-aos="slide-down" ><strong>Services</strong></h2>
      
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div @flyin id="pic" class="col-sm-4 " data-aos="slide-right" >
                <picture>
                    <img src="assets/thush.jpg" alt="photo de profil" class="img-fluid">
                </picture>
            </div>
                <div class="col-sm-8 pt-4 pt-lg-0" data-aos="slide-left" >
    
                    <h3><strong>Retail Banking</strong></h3>
                    <ul>
                        <li>Retail deposits</li>
                        <li>Retail lending Products</li>
                    </ul>
                    <h3><strong>Business Analysis</strong></h3>
                    <ul>
                        <li>Advanced Excel Operations</li>
                        <li>Analytics using Tableau</li>
                    </ul>
                    <h3><strong>Full Stack Development</strong></h3>
                    <ul>
                        <li>MongoDB</li>
                        <li>Express/Node</li>
                        <li>Angular</li>
                        
                        
                    </ul>
                </div>
    
                </div>
            </div>
                
                
        </section>  


<section class="testimonial">
    <div class="containers">
        <h2 data-aos="slide-left" ><strong>Testimonials</strong></h2>
        <owl-carousel-o [options]="testimonialSlider">
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img data-aos="slide-left"src="/assets/rahul.jpg" alt="Testimonial">
                </div>
                <div data-aos="slide-left" class="testimonial-content text-center">
                 <h4>Rahul A</h4>
                 <h6>Asst Manager @Indian Bank</h6>
                 <p>If the quality of an employee is an indication of success of the company, then Thushara will be the perfect choice.</p>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img data-aos="slide-left" src="/assets/manu.jpg" alt="Testimonial">
                </div>
                <div data-aos="slide-left" class="testimonial-content text-center">
                 <h4>Manu Job Vargheese</h4>
                 <h6>Senior Branch Manager @Axis Bank</h6>
                 <p>I highly recommend Thushara .She is amazing at her job.</p>
                </div>
                
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img data-aos="slide-left" src="/assets/rooshy.jpg" alt="Testimonial">
                </div>
                <div data-aos="slide-left" class="testimonial-content text-center">
                 <h4>Rooshy Kunnummal</h4>
                 <h6>Senior product Engineer at MBRDI</h6>
                 <p>I know Thushara since 7 years. She is  very hard working and is a wonedrful human being</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img data-aos="slide-left" src="/assets/rijas.jpg" alt="Testimonial">
                </div>
                <div data-aos="slide-left" class="testimonial-content text-center">
                 <h4>Rijas Shareef</h4>
                 <h6>Data Analyst</h6>
                 <p>Thushara is my college batch mate. She had done wonderfully in her academics and has a mindset to learn new things.</p>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img data-aos="slide-left" src="/assets/person.jpg" alt="Testimonial">
                </div>
                <div data-aos="slide-left" class="testimonial-content text-center">
                 <h4>Safna Salam</h4>
                 <h6>Career coach</h6>
                 <p>Thushara and I  were college mates.Thushara will be a valuable asset to any company she works with.</p>
                </div>
            </ng-template>  
             
           
          </owl-carousel-o>
    </div>

</section>


 
<!--   
     <section class="partners">

        <div class="containers">
            <h2><strong>Testimonials</strong></h2>
            <div class="row">
              
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                    <div class="testimonial-content">
                        <h5>Rahul A</h5>
                        <h6>Asst Manager</h6>
                       </div>
                </div>
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                </div>
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                </div>
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                </div>
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                </div>
                <div class="col-md-2">
                    <img src="assets/person.jpg" alt="Testimony by">
                </div>

            </div>

        </div>

    </section>  -->
